<% const form = new Form(user, validation); %>

<main class="container">
  <%- form.begin('/register', 'post', { className: 'form-login' }); %>
    <h2>Registering</h2>
    <%- form.field('Email *', 'email', 'Enter e-mail'); %>
    <%- form.field('Password *', 'password', 'Enter password').passwordField(); %>
    <%- form.field('Name *', 'name', 'Enter name'); %>
    <%- form.field('Contact details *', 'contacts', 'Write how to contact you').textareaField(); %>
    <%- form.errorBlock(); %>
    <button type="submit" class="button">Register</button>
    <a class="text-link" href="/login">Already have account</a>
  <%- form.end(); %>
</main>