<% const form = new Form(user, validation); %>

<main class="login">
  <%- form.begin('/login', 'post'); %>
  <h2>Login</h2>
  <%- form.field('Email *', 'email', 'Enter e-mail'); %>
  <%- form.field('Password *', 'password', 'Enter password').passwordField(); %>
  <%- form.errorBlock(); %>
  <button type="submit" class="button">Login</button>
  <%- form.end(); %>
</main>