<%- contentFor('content') %>

<section class="promo">
  <h1 class="promo__title">Need staff for the skating rink?</h1>
  <p class="promo__text">In our online auction you will find the most exclusive snowboard and ski equipment.
  </p>
  <ul class="promo__list">
    <% categories.forEach((category) => { %>
    <li class="promo__item promo__item--<%= category.name.toLowerCase() %>">
      <a class="promo__link" href="/categories/<%= category.id %>/"><%= category.name %></a>
    </li>
    <% }) %>
  </ul>
</section>

<section class="lots">
  <div class="lots__header">
    <h2>Active lots</h2>
  </div>
  <ul class="lots__list">
    <% lots.forEach((lot) => { %>
    <%- include("../partials/lot-card", { lot }) %>
    <% }) %>
  </ul>
</section>