<%
  const pages = paginator.getPagesNumbers();
  const uri = paginator.getUri();
  const currentPage = paginator.getCurrentPage();
  const totalPages = paginator.getTotalPages();

  const getItemClass = (page) => page === currentPage ? 'pagination-item pagination-item--active' : 'pagination-item';

  const linkPrevClass = currentPage === 1 ? 'link link--disabled' : 'link';
  const linkNextClass = paginator.isLastPage() ? 'link link--disabled' : 'link';
  const prevUrl = currentPage === 1 ? '#' : paginator.getUrl(currentPage - 1);
  const nextUrl = paginator.isLastPage() ? '#' : paginator.getUrl(currentPage + 1);
%>

<% if (totalPages > 1) { %>
<ul class="pagination-list">
  <li class="pagination-item pagination-item-prev">
    <a href="<%= prevUrl %>" class="<%= linkPrevClass %>">Prev</a>
  </li>

  <% pages.forEach((page) => { %>
  <li class="<%= getItemClass(page) %>">
    <a href="<%= paginator.getUrl(page) %>"><%= page %></a>
  </li>
  <% }) %>

  <li class="pagination-item pagination-item-next">
    <a href="<%= nextUrl %>" class="<%= linkNextClass %>">Next</a>
  </li>
</ul>
<% } %>