<% if (pagesCount > 1) { %>
<ul class="pagination-list">
  <li class="pagination-item pagination-item-prev">
    <a href="<%= currentPage > 1 ? `?page=${currentPage - 1}` : '' %>" class="link <%= currentPage === 1 ? 'link--disabled' : '' %>">Prev</a>
  </li>

  <% pages.forEach((page) => { %>
  <li class="pagination-item <%= page === currentPage ? 'pagination-item--active' : '' %>">
    <a href="<%= `?page=${page}`%>">
      <%= page %>
    </a>
  </li>
  <% }) %>

  <li
    class="pagination-item pagination-item-next">
    <a href="<%= currentPage < pagesCount ? `?page=${currentPage + 1}` : '' %>" class="link <%= currentPage === pagesCount ? 'link--disabled' : '' %>">Next</a>
  </li>
</ul>
<% } %>