<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
  <%- include("./partials/sprite") %>
  <%- include("./partials/header") %>

  <main class="container">
    <%- content %>
  </main>

  <%- include("./partials/footer") %>
  <%- include("./partials/scripts") %>
</body>

</html>