<%- include('../partials/head.ejs') %>

<body>
  <%- include('../partials/header.ejs') %>
  <%- body %>
  <%- include('../partials/footer.ejs') %>

  <%- include('../partials/scripts.ejs') %>
</body>

</html>